$aside-panel__border-width: 3px;

.aside-panel {
  display: inline-block;
  margin-bottom: 1.25%;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }

  &__image,
  &__details {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
  &__image {
    height: 100%;
    top: 0;
    @media (min-width: 400px) {
      height: 138.2%;
      top: -19.1%;
    }
    @media (min-width: 540px) {
      height: 100%;
      top: 0;
    }
  }
  &__details {
    background-color: rgba($grey-very-light, 0.8);
    border: $aside-panel__border-width solid $blue-dark;
    opacity: 0;
    padding: 5%;
    @media (min-width: 540px) {
      padding: 7.5%;
    }
    top: 0;
    transition: all 0.1s;
    z-index: 1;
    &:hover {
      opacity: 1;
      .aside-panel__link {
        bottom: 5%;
        @media (min-width: 400px) {
          bottom: 9.15%;
        }
        @media (min-width: 540px) {
          bottom: 7.5%;
        }
      }
    }
    &--always-shown {
      opacity: 1;
    }
  }
  &__heading {
    color: $blue-dark;
    font-family: $font__standout;
    font-size: 20px;
  }
  &__link {
    background-color: transparent;
    border: 1px solid $blue-dark;
    bottom: -10%;
    color: $blue-dark;
    padding: 0 2em;
    position: absolute;
    right: 5%;
    @media (min-width: 540px) {
      right: 7.5%;
    }
    transition: bottom 0.2s;
    &:hover {
      background-color: $blue-dark;
      color: $grey-very-light;
    }
  }
  &--photography {
    .aside-panel__details {
      border-color: $purple-dark;
    }
    .aside-panel__heading {
      color: $purple-dark;
    }
    .aside-panel__link {
      border-color: $purple-dark;
      color: $purple-dark;
      &:hover {
        background-color: $purple-dark;
        color: $grey-very-light;
      }
    }
  }
  &--video {
    .aside-panel__details {
      border-color: $green-dark;
    }
    .aside-panel__heading {
      color: $green-dark;
    }
    .aside-panel__link {
      border-color: $green-dark;
      color: $green-dark;
      &:hover {
        background-color: $green-dark;
        color: $grey-very-light;
      }
    }
  }

  &.green-light {
    border: $aside-panel__border-width solid $green-light;
    .aside-panel__details {
      border: none;
    }
    .aside-panel__heading {
      color: $green-light;
    }
  }

  &.green {
    border: $aside-panel__border-width solid $green-dark;
    .aside-panel__details {
      border: none;
    }
    .aside-panel__heading {
      color: $green-dark;
    }
  }

  &.grey {
    border: $aside-panel__border-width solid $grey-mid;
    .aside-panel__details {
      border: none;
    }
    .aside-panel__heading {
      color: $grey-mid;
    }
  }

  &.blue-light {
    border: $aside-panel__border-width solid $blue-light;
    .aside-panel__details {
      border: none;
    }
    .aside-panel__heading {
      color: $blue-light;
    }
  }

  &.blue {
    border: $aside-panel__border-width solid $blue-dark;
    .aside-panel__details {
      border: none;
    }
    .aside-panel__heading {
      color: $blue-dark;
    }
  }

  &.purple-light {
    border: $aside-panel__border-width solid $purple-light;
    .aside-panel__details {
      border: none;
    }
    .aside-panel__heading {
      color: $purple-light;
    }
  }

  &.purple {
    border: $aside-panel__border-width solid $purple-dark;
    .aside-panel__details {
      border: none;
    }
    .aside-panel__heading {
      color: $purple-dark;
    }
  }
}
