*::selection {
  background: #595959;
  color: #fafafa; }

p {
  color: #595959;
  font-size: 16px;
  line-height: 1.55em;
  margin: 0 0 1.55em 0; }
  @media (min-width: 640px) {
    p {
      font-size: 18px; } }
  p:last-of-type {
    margin-bottom: 0; }

.text {
  margin: 0 auto;
  max-width: 800px; }
  .text a {
    color: #050505;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
    transition: all 0.1s; }
    .text a:hover {
      color: #2677bb;
      text-decoration: underline; }
  .text h1 {
    font-family: "Khand", sans-serif;
    margin-bottom: 24px; }
  .text h2 {
    font-family: "Khand", sans-serif;
    margin-bottom: 24px; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: 2px solid #050505; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0; }

h1, h2 {
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.content-is-centred {
  padding-left: 3.125%;
  padding-right: 3.125%;
  width: 100%; }
  @media (min-width: 1200px) {
    .content-is-centred {
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;
      width: 1280px; } }

.background {
  background-image: url("/assets/img/noise.png");
  left: 0;
  right: 0; }
  .background--black {
    background-color: #050505; }
  .background--blacker {
    background-color: #000; }
  .background--blue {
    background-color: #67a9e0; }
    .background--blue-dark {
      background-color: #2677bb; }
  .background--grey-very-light {
    background-color: #fafafa; }
  .background--orange {
    background-color: #f67944; }
    .background--orange-dark {
      background-color: rgba(244, 86, 19, 0.6); }

.button {
  border-radius: 3px;
  display: inline-block;
  font-family: "Khand", sans-serif;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  transition: background-color 0.2s; }

.tile.tile {
  padding-bottom: 100%;
  width: 100%; }
  @media (min-width: 400px) {
    .tile.tile {
      padding-bottom: 61.8%; } }
  @media (min-width: 540px) {
    .tile.tile:last-child {
      margin-bottom: 1.25%; } }
  @media (min-width: 540px) {
    .tile.tile {
      margin-right: 1.25%;
      padding-bottom: 49.375%;
      width: 49.375%; } }
  @media (min-width: 880px) {
    .tile.tile {
      padding-bottom: 32.5%;
      width: 32.5%; } }
  @media (min-width: 400px) and (max-width: 879px) {
    .tile.tile:nth-child(2n) {
      margin-right: 0; } }
  @media (min-width: 880px) {
    .tile.tile:nth-child(3n) {
      margin-right: 0; } }

.bread-crumbs__crumb {
  color: #fafafa;
  display: inline-block;
  font-family: "Khand", sans-serif;
  font-size: 20px;
  margin-right: 30px;
  position: relative; }
  .bread-crumbs__crumb:after {
    border-bottom: 6px solid transparent;
    border-left: 10px solid #2677bb;
    border-top: 6px solid transparent;
    content: '';
    height: 0;
    right: -20px;
    position: absolute;
    top: 9px;
    width: 0; }
  .bread-crumbs__crumb--last:after {
    display: none; }
  .bread-crumbs__crumb a {
    color: #fafafa;
    text-decoration: none;
    transition: all 0.1s; }
    .bread-crumbs__crumb a:hover {
      color: #2677bb; }

.section-header__heading {
  font-family: "Khand", sans-serif;
  font-size: 30px;
  margin-bottom: 24px;
  text-align: center; }

.section-header__strapline {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 50px;
  text-align: center; }

.aside-panel {
  display: inline-block;
  margin-bottom: 1.25%;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  width: 100%; }
  .aside-panel:last-child {
    margin-bottom: 0; }
  .aside-panel__image,
  .aside-panel__details {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%; }
  .aside-panel__image {
    height: 100%;
    top: 0; }
    @media (min-width: 400px) {
      .aside-panel__image {
        height: 138.2%;
        top: -19.1%; } }
    @media (min-width: 540px) {
      .aside-panel__image {
        height: 100%;
        top: 0; } }
  .aside-panel__details {
    background-color: rgba(250, 250, 250, 0.8);
    border: 3px solid #2677bb;
    opacity: 0;
    padding: 5%;
    top: 0;
    transition: all 0.1s;
    z-index: 1; }
    @media (min-width: 540px) {
      .aside-panel__details {
        padding: 7.5%; } }
    .aside-panel__details:hover {
      opacity: 1; }
      .aside-panel__details:hover .aside-panel__link {
        bottom: 5%; }
        @media (min-width: 400px) {
          .aside-panel__details:hover .aside-panel__link {
            bottom: 9.15%; } }
        @media (min-width: 540px) {
          .aside-panel__details:hover .aside-panel__link {
            bottom: 7.5%; } }
    .aside-panel__details--always-shown {
      opacity: 1; }
  .aside-panel__heading {
    color: #2677bb;
    font-family: "Khand", sans-serif;
    font-size: 20px; }
  .aside-panel__link {
    background-color: transparent;
    border: 1px solid #2677bb;
    bottom: -10%;
    color: #2677bb;
    padding: 0 2em;
    position: absolute;
    right: 5%;
    transition: bottom 0.2s; }
    @media (min-width: 540px) {
      .aside-panel__link {
        right: 7.5%; } }
    .aside-panel__link:hover {
      background-color: #2677bb;
      color: #fafafa; }
  .aside-panel--video .aside-panel__details {
    border-color: #3B7736; }
  .aside-panel--video .aside-panel__heading {
    color: #3B7736; }
  .aside-panel--video .aside-panel__link {
    border-color: #3B7736;
    color: #3B7736; }
    .aside-panel--video .aside-panel__link:hover {
      background-color: #3B7736;
      color: #fafafa; }
  .aside-panel.green {
    border: 3px solid #3B7736; }
    .aside-panel.green .aside-panel__details {
      border: none; }
    .aside-panel.green .aside-panel__heading {
      color: #3B7736; }
  .aside-panel.grey {
    border: 3px solid #595959; }
    .aside-panel.grey .aside-panel__details {
      border: none; }
    .aside-panel.grey .aside-panel__heading {
      color: #595959; }
  .aside-panel.blue-light {
    border: 3px solid #67a9e0; }
    .aside-panel.blue-light .aside-panel__details {
      border: none; }
    .aside-panel.blue-light .aside-panel__heading {
      color: #67a9e0; }
  .aside-panel.blue {
    border: 3px solid #2677bb; }
    .aside-panel.blue .aside-panel__details {
      border: none; }
    .aside-panel.blue .aside-panel__heading {
      color: #2677bb; }

@media (min-width: 900px) {
  .navigation {
    float: right;
    height: 98px;
    line-height: 98px; } }

.navigation__links {
  background-color: #fafafa;
  border-bottom: 3px solid #2677bb;
  position: fixed;
  padding: 3.125%;
  top: 0;
  transition: right 0.4s;
  width: 100%;
  z-index: 2; }
  @media (min-width: 900px) {
    .navigation__links {
      background-color: transparent;
      box-shadow: none;
      border: none;
      display: block;
      padding: 0;
      position: static;
      right: auto;
      top: auto;
      width: auto; } }

.navigation.is-closed .navigation__links {
  right: -100%; }

.navigation.is-open .navigation__links {
  right: 0%; }

.navigation__close {
  cursor: pointer;
  display: block;
  font-family: "Khand", sans-serif;
  font-size: 16px;
  position: absolute;
  right: 3.125%;
  top: 3.125%; }
  @media (min-width: 480px) {
    .navigation__close {
      font-size: 22px;
      padding: 0.4em 0; } }
  .navigation__close:hover {
    color: #ff3050; }
  @media (min-width: 900px) {
    .navigation__close {
      display: none; } }

.navigation__trigger {
  border: 1px solid #050505;
  color: #050505;
  cursor: pointer;
  font-size: 22px;
  margin-top: -25px;
  padding: 0 26px;
  position: absolute;
  right: 3.125%;
  top: 50%;
  transition: all 0.1s; }
  .navigation__trigger:hover {
    color: #fafafa;
    background-color: #050505; }
  @media (min-width: 900px) {
    .navigation__trigger {
      display: none; } }

.navigation__item {
  display: inline-block;
  margin-bottom: 12px;
  text-align: center;
  width: 100%; }
  .navigation__item:last-child {
    margin-bottom: 0; }
  @media (min-width: 480px) {
    .navigation__item {
      margin-bottom: 24px; } }
  @media (min-width: 900px) {
    .navigation__item {
      margin-bottom: 0;
      margin-left: 20px;
      width: auto; } }
  @media (min-width: 1211px) {
    .navigation__item {
      margin-left: 30px; } }

.navigation__link {
  color: #050505;
  font-family: "Khand", sans-serif;
  font-size: 22px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase; }
  .navigation__link:after {
    background-color: #2677bb;
    bottom: -5px;
    content: '';
    height: 3px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.075s;
    width: 0%; }
  .navigation__link:hover:after {
    bottom: 0px;
    opacity: 1;
    width: 100%; }
  .navigation__link--basket,
  .navigation__link--products {
    color: #f45613; }
    .navigation__link--basket:hover:after,
    .navigation__link--products:hover:after {
      background-color: #f45613; }
  .navigation__link.selected:after {
    bottom: 0px;
    opacity: 1;
    width: 100%; }

.testimonial {
  margin: 0 0 24px 0; }
  .testimonial__quote {
    color: #727272;
    font-family: georgia;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 0.65em; }
    @media (min-width: 640px) {
      .testimonial__quote {
        font-size: 18px; } }
    .testimonial__quote:before,
    .testimonial__quote:after {
      color: #2677bb;
      font-size: 30px;
      line-height: 0;
      position: relative;
      top: 5px; }
    .testimonial__quote:before {
      content: '\201C';
      margin-right: 5px; }
    .testimonial__quote:after {
      content: '\201D';
      margin-left: 5px; }
  .testimonial__credit {
    display: block;
    text-align: right;
    width: 100%; }

.project-summary {
  margin-bottom: 3.125%;
  opacity: 0;
  padding: 3.125%;
  position: relative;
  transition: all 0.4s;
  width: 100%; }
  .project-summary:last-of-type {
    margin-bottom: 0; }
  .project-summary__details {
    margin-bottom: 30px; }
    .project-summary__details p {
      display: none; }
      .project-summary__details p:first-child {
        display: block;
        margin-bottom: 0; }
  .project-summary__heading {
    font-family: "Khand", sans-serif;
    font-size: 24px;
    margin-bottom: 1em; }
  .project-summary__image {
    display: none; }
    @media (min-width: 480px) {
      .project-summary__image {
        display: block;
        width: 32.2219%; } }
  @media (min-width: 480px) {
    .project-summary__text {
      width: 64.4438%; } }
  .project-summary__text a {
    text-decoration: none; }
    .project-summary__text a:hover {
      text-decoration: underline; }
  .project-summary--documentary .project-summary__text a {
    color: #2677bb; }
  .project-summary--documentary:nth-of-type(1) {
    background-color: #eaf3fb;
    border: 1px solid #e2eef9; }
  .project-summary--documentary:nth-of-type(2) {
    background-color: #e5e5e5;
    border: 1px solid #dedede; }
  .project-summary--documentary:nth-of-type(3) {
    background-color: #e2eef9;
    border: 1px solid #d5e7f6; }

.animtrig-project-summary-pos-1,
.animtrig-project-summary-pos-3 {
  float: right;
  right: -30%; }
  .animtrig-project-summary-pos-1 .project-summary__image,
  .animtrig-project-summary-pos-3 .project-summary__image {
    float: right; }
  .animtrig-project-summary-pos-1 .project-summary__text,
  .animtrig-project-summary-pos-3 .project-summary__text {
    float: left; }

.animtrig-project-summary-pos-2 {
  float: left;
  left: -30%; }
  .animtrig-project-summary-pos-2 .project-summary__image {
    float: left; }
  @media (min-width: 480px) {
    .animtrig-project-summary-pos-2 .project-summary__text {
      float: right; } }

.project-summary-pos-1--animate,
.project-summary-pos-3--animate {
  opacity: 1;
  right: 0; }

.project-summary-pos-2--animate {
  left: 0;
  opacity: 1; }

.heading {
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative; }
  .heading__tinted-overlay {
    background-color: rgba(0, 0, 0, 0.55);
    bottom: 0;
    display: table;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1; }
  .heading__content {
    display: table-cell;
    height: 500px;
    text-align: center;
    vertical-align: middle; }
  .heading__title {
    color: #fafafa;
    font-family: "Khand", sans-serif;
    font-size: 64px;
    line-height: 1.5em;
    text-transform: uppercase; }
  .heading__strapline {
    color: #fafafa;
    font-family: "Khand", sans-serif;
    font-size: 20px; }

.header {
  box-sizing: content-box;
  height: 98px;
  max-width: 1200px;
  padding-top: 3.125%;
  padding-bottom: 3.125%;
  position: relative;
  width: 93.5%; }
  .header__business-name {
    color: #050505;
    display: none;
    font-family: "Khand", sans-serif;
    font-size: 28px;
    height: 98px;
    line-height: 98px;
    margin-left: 20px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap; }
    @media (min-width: 450px) {
      .header__business-name {
        display: inline-block; } }
    @media (min-width: 900px) {
      .header__business-name {
        display: none; } }
    @media (min-width: 1070px) {
      .header__business-name {
        display: inline-block; } }
    @media (min-width: 540px) {
      .header__business-name {
        font-size: 38px; } }
    @media (min-width: 900px) {
      .header__business-name {
        font-size: 28px; } }
    @media (min-width: 1140px) {
      .header__business-name {
        font-size: 38px; } }
    @media (min-width: 1211px) {
      .header__business-name {
        margin-left: 30px; } }
  .header .logo {
    float: left; }

.video-panel {
  padding-bottom: 72px;
  padding-top: 50px;
  background-image: none;
  color: #fafafa; }

.video {
  border: none;
  box-shadow: 0 0 50px 0 rgba(89, 89, 89, 0.2);
  height: 56.25vw;
  max-height: 675px;
  width: 100%; }

.text-details {
  padding-bottom: 72px;
  padding-top: 50px; }
  .text-details:before,
  .text-details:after {
    content: "";
    display: table; }
  .text-details:after {
    clear: both; }
  .text-details__text {
    margin-bottom: 50px;
    width: 100%; }
    @media (min-width: 1000px) {
      .text-details__text {
        margin-bottom: 0;
        width: 64.4438%; } }
  .text-details__aside {
    width: 100%; }
    @media (min-width: 1000px) {
      .text-details__aside {
        width: 32.2219%; } }
    .text-details__aside-panel {
      margin-bottom: 1.25%;
      width: 100%; }
      @media (min-width: 480px) {
        .text-details__aside-panel {
          margin-bottom: 0;
          margin-right: 1.25%;
          padding-bottom: 49.375%;
          width: 49.375%; }
          .text-details__aside-panel:first-of-type {
            margin-bottom: 1.25%;
            margin-right: 0;
            padding-bottom: 49.375%;
            width: 100%; }
          .text-details__aside-panel:last-of-type {
            margin-right: 0; } }
      @media (min-width: 800px) {
        .text-details__aside-panel {
          margin-bottom: 0;
          margin-right: 1.25%;
          padding-bottom: 32.5%;
          width: 32.5%; }
          .text-details__aside-panel:first-of-type {
            margin-bottom: 0;
            margin-right: 1.25%;
            padding-bottom: 32.5%;
            width: 32.3%; }
          .text-details__aside-panel:last-of-type {
            margin-right: 0; } }
      @media (min-width: 1000px) {
        .text-details__aside-panel {
          margin-bottom: 10%;
          padding-bottom: 100%;
          width: 100%; }
          .text-details__aside-panel:first-of-type {
            margin-bottom: 10%;
            padding-bottom: 100%;
            width: 100%; } }
  .text-details--text-is-left .text-details__text {
    float: left; }
  .text-details--text-is-left .text-details__aside {
    float: right; }
  .text-details--text-is-right .text-details__text {
    float: right; }
  .text-details--text-is-right .text-details__aside {
    float: left; }
  @media (min-width: 1000px) {
    .text-details .text {
      margin: 0; } }

@media (min-width: 1000px) {
  .animtrig-text-details-1 .aside-panel {
    opacity: 0;
    position: relative;
    right: -40%; }
  .text-details-1--animate .text-details__aside .aside-panel:nth-of-type(1) {
    animation: aside-panel-in-right 0.3s linear 0s forwards; }
  .text-details-1--animate .text-details__aside .aside-panel:nth-of-type(2) {
    animation: aside-panel-in-right 0.3s linear 0.3s forwards; }
  .text-details-1--animate .text-details__aside .aside-panel:nth-of-type(3) {
    animation: aside-panel-in-right 0.3s linear 0.6s forwards; }
  .animtrig-text-details-2 .aside-panel {
    opacity: 0;
    position: relative;
    left: -40%; }
  .text-details-2--animate .text-details__aside .aside-panel:nth-of-type(1) {
    animation: aside-panel-in-left 0.3s linear 0s forwards; }
  .text-details-2--animate .text-details__aside .aside-panel:nth-of-type(2) {
    animation: aside-panel-in-left 0.3s linear 0.3s forwards; }
  .text-details-2--animate .text-details__aside .aside-panel:nth-of-type(3) {
    animation: aside-panel-in-left 0.3s linear 0.6s forwards; } }

@keyframes aside-panel-in-left {
  0% {
    opacity: 0;
    left: -40%; }
  100% {
    opacity: 1;
    left: 0%; } }

@keyframes aside-panel-in-right {
  0% {
    opacity: 0;
    right: -40%; }
  100% {
    opacity: 1;
    right: 0%; } }

.video {
  border: none;
  box-shadow: 0 0 50px 0 rgba(89, 89, 89, 0.2);
  height: 56.25vw;
  max-height: 675px;
  width: 100%; }

.service-testimonials {
  padding-bottom: 72px;
  padding-top: 50px; }
  .service-testimonials:before,
  .service-testimonials:after {
    content: "";
    display: table; }
  .service-testimonials:after {
    clear: both; }

.button-pair {
  margin-bottom: 50px;
  text-align: center; }
  .button-pair__button {
    background-color: #2677bb;
    color: #fafafa;
    font-size: 22px;
    height: 70px;
    line-height: 70px;
    margin-bottom: 20px;
    padding: 0 40px;
    width: 100%; }
    @media (min-width: 520px) {
      .button-pair__button {
        margin-bottom: 0;
        margin-right: 30px; } }
    @media (min-width: 251px) {
      .button-pair__button {
        padding: 0 50px;
        width: 236px; } }
    @media (min-width: 520px) {
      .button-pair__button {
        width: auto; } }
    .button-pair__button:hover {
      background-color: #67a9e0; }
    .button-pair__button-2 {
      background-color: #3B7736;
      margin-bottom: 0; }
      @media (min-width: 520px) {
        .button-pair__button-2 {
          margin-right: 0; } }
      .button-pair__button-2:hover {
        background-color: #5B9756; }

.call-to-action {
  padding-bottom: 72px;
  padding-top: 50px;
  text-align: center; }
  .call-to-action__button {
    background-color: rgba(250, 250, 250, 0.2);
    border: 1px solid #fafafa;
    color: #fafafa;
    font-family: "Khand", sans-serif;
    font-size: 24px;
    padding: 0 34px;
    text-transform: uppercase; }
    .call-to-action__button:hover {
      background-color: #fafafa;
      box-shadow: 0 0 5px 0 #fafafa;
      color: rgba(244, 86, 19, 0.6); }
  .call-to-action__heading {
    color: #fafafa;
    font-size: 30px;
    font-family: "Khand", sans-serif;
    margin-bottom: 24px; }

.blog-small {
  color: #595959;
  padding-bottom: 72px;
  padding-top: 50px; }
  .blog-small__post {
    margin-bottom: 1.55em; }
    .blog-small__post-heading {
      border-bottom: 2px solid #2677bb;
      display: inline-block;
      font-family: "Khand", sans-serif;
      font-size: 24px; }
    .blog-small__post-date {
      color: #3B7736;
      display: block;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      margin: 0.775em 0; }
    .blog-small__post-text p {
      display: none; }
      .blog-small__post-text p:first-child {
        display: block; }

.contact {
  padding-bottom: 48px;
  padding-top: 50px;
  color: #fafafa; }
  .contact:before,
  .contact:after {
    content: "";
    display: table; }
  .contact:after {
    clear: both; }
  .contact__details,
  .contact__form {
    position: relative;
    width: 100%; }
    @media (min-width: 800px) {
      .contact__details,
      .contact__form {
        width: 48.0625%; } }
  .contact__form {
    float: left;
    margin-bottom: 40px; }
    @media (min-width: 800px) {
      .contact__form {
        left: 0;
        margin-bottom: 0;
        width: 48.0625%; } }
    .contact__form-label {
      display: block;
      font-family: "Khand", sans-serif;
      font-size: 24px;
      margin-bottom: 0.25em;
      width: 100%; }
    .contact__form-input {
      background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid #fafafa;
      border-radius: 3px;
      color: #fafafa;
      font-size: 16px;
      margin-bottom: 1.55em;
      outline: none;
      padding: 0.666em;
      transition: all 0.1s;
      width: 100%; }
      @media (min-width: 335px) {
        .contact__form-input {
          width: 320px; } }
      .contact__form-input:focus {
        background-color: #fafafa;
        color: #595959; }
        .contact__form-input:focus::-webkit-input-placeholder {
          color: rgba(89, 89, 89, 0.5); }
        .contact__form-input:focus:-moz-placeholder {
          color: rgba(89, 89, 89, 0.5); }
        .contact__form-input:focus::-moz-placeholder {
          color: rgba(89, 89, 89, 0.5); }
        .contact__form-input:focus:-ms-input-placeholder {
          color: rgba(89, 89, 89, 0.5); }
      .contact__form-input::-webkit-input-placeholder {
        color: rgba(250, 250, 250, 0.5); }
      .contact__form-input:-moz-placeholder {
        color: rgba(250, 250, 250, 0.5); }
      .contact__form-input::-moz-placeholder {
        color: rgba(250, 250, 250, 0.5); }
      .contact__form-input:-ms-input-placeholder {
        color: rgba(250, 250, 250, 0.5); }
    .contact__form-textarea {
      height: 200px;
      width: 100%; }
    .contact__form-submit {
      background-color: rgba(250, 250, 250, 0.4);
      border: 2px solid #fafafa;
      color: #fafafa;
      cursor: pointer;
      float: right;
      line-height: 48px;
      padding: 0 30px;
      transition: all 0.1s; }
      .contact__form-submit:focus,
      .contact__form-submit:hover {
        background-color: #fafafa;
        color: #595959;
        outline: none; }
  .contact__details {
    float: right; }
    @media (min-width: 800px) {
      .contact__details {
        right: 0;
        width: 48.0625%; } }
  .contact__detail {
    float: left;
    line-height: 1.55em;
    margin-bottom: 24px;
    width: 100%; }
    @media (min-width: 460px) {
      .contact__detail {
        margin-right: 1.5%;
        width: 48.5%; } }
    .contact__detail-heading {
      display: inline-block;
      font-family: "Khand", sans-serif;
      font-size: 24px;
      margin-bottom: 0.5em;
      width: 100%; }
    .contact__detail-body {
      color: #fafafa;
      word-wrap: break-word; }
      .contact__detail-body a {
        color: #fafafa;
        text-decoration: none; }

.footer {
  color: #fafafa;
  font-family: "Khand", sans-serif;
  font-size: 18px;
  line-height: 2em;
  padding-bottom: 3.125%;
  padding-top: 3.125%; }
  @media (min-width: 720px) {
    .footer {
      font-size: 24px;
      line-height: 3em;
      padding-bottom: 0;
      padding-top: 0; } }
  .footer__social {
    display: inline-block;
    text-transform: lowercase;
    width: 100%; }
    @media (min-width: 720px) {
      .footer__social {
        width: 50%; } }
    .footer__social-link {
      display: inline-block;
      text-align: center;
      width: 100%; }
      @media (min-width: 300px) {
        .footer__social-link {
          width: 33%; } }
      @media (min-width: 720px) {
        .footer__social-link {
          margin-right: 1em;
          text-align: left;
          width: auto; } }
      .footer__social-link a {
        color: #fafafa;
        text-decoration: none; }
      .footer__social-link.facebook a:hover {
        color: #3b5998; }
      .footer__social-link.twitter a:hover {
        color: #55acee; }
      .footer__social-link.youtube a:hover {
        color: #cd201f; }
  .footer__copywrite {
    display: inline-block;
    text-align: center;
    width: 100%; }
    @media (min-width: 720px) {
      .footer__copywrite {
        text-align: right;
        width: 50%; } }

.our-choice-projects {
  color: #595959;
  padding-bottom: 72px; }
  .our-choice-projects__heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 24px;
    text-align: center; }
  @media (min-width: 880px) {
    .our-choice-projects .aside-panel {
      opacity: 0; } }

@media (min-width: 880px) {
  .our-choice-projects--animate .aside-panel:nth-of-type(3) {
    animation: choice-project-fade-in 0.15s ease-in 0s forwards; }
  .our-choice-projects--animate .aside-panel:nth-of-type(5) {
    animation: choice-project-fade-in 0.15s ease-in 0.15s forwards; }
  .our-choice-projects--animate .aside-panel:nth-of-type(4) {
    animation: choice-project-fade-in 0.15s ease-in 0.3s forwards; }
  .our-choice-projects--animate .aside-panel:nth-of-type(2) {
    animation: choice-project-fade-in 0.15s ease-in 0.45s forwards; }
  .our-choice-projects--animate .aside-panel:nth-of-type(1) {
    animation: choice-project-fade-in 0.15s ease-in 0.6s forwards; }
  .our-choice-projects--animate .aside-panel:nth-of-type(6) {
    animation: choice-project-fade-in 0.15s ease-in 0.75s forwards; } }

@keyframes choice-project-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.services-introduction {
  padding-bottom: 72px;
  padding-top: 50px;
  color: #595959; }
  .services-introduction__heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 24px;
    text-align: center; }

.home__top-wrapper {
  background: url("/assets/img/noise.png"), radial-gradient(circle at 50% 400px, #fff 0%, #e0e0e0 100%);
  width: 100%; }

.home .header,
.home .background--grey-very-light {
  background: none; }
