* {
  box-sizing: border-box; }

body {
  margin: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.page-section {
  padding: 70px 0 100px; }

.content-is-centred {
  padding: 0 3.125%;
  width: 100%; }
  @media (min-width: 1280px) {
    .content-is-centred {
      margin: 0 auto;
      width: 1280px; } }

.header {
  background-color: #fafafa;
  height: 196px;
  padding: 49px; }
