$lightbox__break-1: 640px;
$lightbox__break-2: 1024px;

.lightbox {
  background-color: rgba($black,0.9);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10;

  &--is-shown {
    display: block;
    -webkit-animation: show-lightbox 0.5s forwards;
  }

  &__heading {
    left: 20px;
    position: absolute;
    top: 20px;
    @media (min-width: $lightbox__break-1) {
      left: 30px;
      top: 30px;
    }
    @media (min-width: $lightbox__break-2) {
      left: 40px;
      top: 40px;
    }
  }

  &__heading,
  &__scroller {
    padding: 10px 15px;
    color: $grey-very-light;
    display: inline-block;
    font-family: $font__standout;
    font-size: 20px;
    @media (min-width: $lightbox__break-1) {
      font-size: 22px;
    }
    @media (min-width: $lightbox__break-2) {
      font-size: 24px;
    }
  }

  &__image {
    max-height: 95vh;
    max-width: 95vw;
  }

  &__scroller {
    bottom: 20px;
    @media (min-width: $lightbox__break-1) {
      bottom: 30px;
    }
    @media (min-width: $lightbox__break-2) {
      bottom: 40px;
    }
    position: absolute;
    &-next {
      right: 20px;
      @media (min-width: $lightbox__break-1) {
        right: 30px;
      }
      @media (min-width: $lightbox__break-2) {
        right: 40px;
      }
    }
    &-previous {
      left: 20px;
      @media (min-width: $lightbox__break-1) {
        left: 30px;
      }
      @media (min-width: $lightbox__break-2) {
        left: 40px;
      }
    }
  }

  .close {
    opacity: 0.8;
  }

  // Centring unknown dimensions hack
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  &__image {
    display: inline-block;
    vertical-align: middle;
  }
  // End Centring unknown dimensions hack
}

@-webkit-keyframes show-lightbox {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
