.lightbox {
  background-color: rgba($black,0.9);
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 10;

  &--is-shown {
    display: block;
    -webkit-animation: show-lightbox 0.5s forwards;
  }

  &__image {
    max-height: 95vh;
    max-width: 95vw;
  }

  .close {
    opacity: 0.8;
  }

  //     Centring unknown dimensions hack
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  &__image {
    display: inline-block;
    vertical-align: middle;
  }
  // End Centring unknown dimensions hack
}

@-webkit-keyframes show-lightbox {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
