.our-choice-projects {
  color: $grey-mid;
  padding-bottom: $general-padding__bottom;
  &__heading {
    @include text-light();
    font-size: 36px;
    margin-bottom: $general-padding__strapline-spacing;
    text-align: center;
  }
}
