.our-choice-projects {
  color: $grey-mid;
  padding-bottom: $general-padding__bottom;
  &__heading {
    @include text-light();
    font-size: 36px;
    margin-bottom: $general-padding__strapline-spacing;
    text-align: center;
  }
  @media (min-width: 880px) {
    .aside-panel {
      opacity: 0;
    }
  }
}

@media (min-width: 880px) {
  .our-choice-projects--animate {
    .aside-panel {
      &:nth-of-type(1) {
        animation: choice-project-fade-in 0.3s ease-in 0s forwards;
      }
      &:nth-of-type(2) {
        animation: choice-project-fade-in 0.3s ease-in 0s forwards;
      }
      &:nth-of-type(3) {
        animation: choice-project-fade-in 0.3s ease-in 0s forwards;
      }
      &:nth-of-type(4) {
        animation: choice-project-fade-in 0.3s ease-in 0.4s forwards;
      }
      &:nth-of-type(5) {
        animation: choice-project-fade-in 0.3s ease-in 0.4s forwards;
      }
      &:nth-of-type(6) {
        animation: choice-project-fade-in 0.3s ease-in 0.4s forwards;
      }
    }
  }
}

@keyframes choice-project-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
