$button-pair__text: $grey-very-light;
$button-pair__background: $blue-dark;
$button-pair__background--hover: $blue-light;

.button-pair {
  margin-bottom: $general-padding__top;
  text-align: center;
  &__button {
    background-color: $button-pair__background;
    color: $button-pair__text;
    margin-right: 30px;
    padding: 0 50px;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      background-color: $button-pair__background--hover;
    }
  }
}
