$navigation__font: $font__standout;
$navigation__font-color: $black;

.navigation {
  @media (min-width: 900px) {
    float: right;
    height: 98px;
    line-height: 98px;
  }
  &__links {
    background-color: $grey-very-light;
    border-bottom: 3px solid $blue-dark;
    position: fixed;
    padding: 3.125%;
    top: 0;
    transition: right 0.4s;
    width: 100%;
    z-index: 2;
    @media (min-width: 900px) {
      background-color: transparent;
      box-shadow: none;
      border: none;
      display: block;
      padding: 0;
      position: static;
      right: auto;
      top: auto;
      width: auto;
    }
  }
  &.is-closed {
    .navigation__links {
      right: -100%;
    }
  }
  &.is-open {
    .navigation__links {
      right: 0%;
    }
  }
  &__close {
    cursor: pointer;
    display: block;
    font-family: $font__standout;
    font-size: 16px;
    @media (min-width: 480px) {
      font-size: 22px;
      padding: 0.4em 0;
    }
    position: absolute;
    right: 3.125%;
    top: 3.125%;
    &:hover {
      color: $red;
    }
    @media (min-width: 900px) {
      display: none;
    }
  }
  &__trigger {
    border: 1px solid $black;
    color: $black;
    cursor: pointer;
    font-size: 22px;
    margin-top: -25px;
    padding: 0 26px;
    position: absolute;
    right: 3.125%;
    top: 50%;
    transition: all 0.1s;
    &:hover {
      color: $grey-very-light;
      background-color: $black;
    }
    @media (min-width: 900px) {
      display: none;
    }
  }
  &__item {
    display: inline-block;
    margin-bottom: 12px;
    text-align: center;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: 480px) {
      margin-bottom: 24px;
    }
    @media (min-width: 900px) {
      margin-bottom: 0;
      margin-left: 20px;
      width: auto;
    }
    @media (min-width: 1211px) {
      margin-left: 30px;
    }
  }
  &__link {
    color: $navigation__font-color;
    font-family: $font__standout;
    font-size: 22px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    &:after {
      background-color: $blue-dark;
      bottom: -5px;
      content: '';
      height: 3px;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: all 0.075s;
      width: 0%;
    }
    &:hover {
      &:after {
        bottom: 0px;
        opacity: 1;
        width: 100%;
      }
    }

    &--basket,
    &--products {
      color: $cta-dark;
      &:hover {
        &:after {
          background-color: $cta-dark;
        }
      }
    }

    &.selected {
      &:after {
        bottom: 0px;
        opacity: 1;
        width: 100%;
      }
    }
  }
}
