.home {
  &__top-wrapper {
    background: radial-gradient(circle at 50% 400px, #fff 0%, #e0e0e0 100%);
    width: 100%;
  }

  .background--grey-very-light {
    background-color: transparent;
  }
}
