.contact {
  padding-bottom: ($general-padding__bottom - $general-padding__strapline-spacing) / 2;
  padding-top: $general-padding__top / 2;
  @media (min-width: 640px) {
    padding-bottom: $general-padding__bottom - $general-padding__strapline-spacing;
    padding-top: $general-padding__top;
  }
  @include clearfix();

  color: $grey-very-light;

  &__details,
  &__form {
    position: relative;
    width: 100%;
    @media (min-width: 800px) {
      width: 48.0625%;
    }
  }

  &__form {
    float: left;
    margin-bottom: 40px;
    @media (min-width: 800px) {
      left: 0;
      margin-bottom: 0;
      width: 48.0625%;
    }

    &-label {
      display: block;
      font-family: $font__standout;
      font-size: 24px;
      margin-bottom: 0.25em;
      width: 100%;
    }
    &-input {
      background-color: rgba(255,255,255,0.1);
      border: 2px solid $grey-very-light;
      border-radius: 3px;
      color: $grey-very-light;
      font-size: 16px;
      margin-bottom: 1.55em;
      outline: none;
      padding: 0.666em;
      transition: all 0.1s;
      width: 100%;
      @media (min-width: 335px) {
        width: 320px;
      }
      &:focus {
        background-color: $grey-very-light;
        color: $grey-mid;
        &::-webkit-input-placeholder{
          color: rgba($grey-mid, 0.5);
        }
        &:-moz-placeholder{
          color: rgba($grey-mid, 0.5);
        }
        &::-moz-placeholder{
          color: rgba($grey-mid, 0.5);
        }
        &:-ms-input-placeholder {
          color: rgba($grey-mid, 0.5);
        }
      }
      &::-webkit-input-placeholder{
        color: rgba($grey-very-light, 0.5);
      }
      &:-moz-placeholder{
        color: rgba($grey-very-light, 0.5);
      }
      &::-moz-placeholder{
        color: rgba($grey-very-light, 0.5);
      }
      &:-ms-input-placeholder {
        color: rgba($grey-very-light, 0.5);
      }
    }
    &-textarea {
      height: 200px;
      width: 100%;
    }
    &-submit {
      background-color: rgba($grey-very-light, 0.4);
      border: 2px solid $grey-very-light;
      color: $grey-very-light;
      cursor: pointer;
      float: right;
      line-height: 48px;
      padding: 0 30px;
      transition: all 0.1s;
      &:focus,
      &:hover {
        background-color: $grey-very-light;
        color: $grey-mid;
        outline: none;
      }
    }
  }
  &__details {
    float: right;
    @media (min-width: 800px) {
      right: 0;
      width: 48.0625%;
    }
  }
  &__detail {
    float: left;
    line-height: 1.55em;
    margin-bottom: $general-padding__strapline-spacing;
    width: 100%;
    @media (min-width: 460px) {
      margin-right: 1.5%;
      width: 48.5%
    }

    &-heading {
      display: inline-block;
      font-family: $font__standout;
      font-size: 24px;
      margin-bottom: 0.5em;
      width: 100%;
    }
    &-body {
      color: $grey-very-light;
      word-wrap: break-word;
      a {
        color: $grey-very-light;
        text-decoration: none;
      }
    }
  }
  &__map {
    border: none;
    height: 60vw;
    margin-bottom: $general-padding__strapline-spacing;
    width: 100%;
    @media (min-width: 800px) {
      height: #{(48.0625 / 100 * 60)}vw;
    }
  }
}
