$header__background-color: $grey-very-light;
$header__central-height: 98px;
$header__font: $font__standout;
$header__font-color: $black;

.header {
  box-sizing: content-box;
  height: 98px;
  max-width: 1200px;
  padding-top: 3.125%;
  padding-bottom: 3.125%;
  position: relative;
  width: 93.5%;

  &__business-name {
    color: $header__font-color;
    display: none;
    @media (min-width: 450px) {
      display: inline-block;
    }
    @media (min-width: 900px) {
      display: none;
    }
    @media (min-width: 1070px ) {
      display: inline-block;
    }
    font-family: $header__font;
    font-size: 28px;
    @media (min-width: 540px) {
      font-size: 38px;
    }
    @media (min-width: 900px) {
      font-size: 28px;
    }
    @media (min-width: 1140px) {
      font-size: 38px;
    }
    height: 98px;
    line-height: 98px;
    margin-left: 20px;
    @media (min-width: 1211px) {
      margin-left: 30px;
    }
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
  }

  .logo {
    float: left;
  }
}
