.image-fixed {
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 15px 0 $grey-mid;
  display: none;
  @media (min-width: 720px) {
    display: block;
  }
  height: 100vh;

  &__heading {
    &-wrapper {
      background-color: rgba($grey-mid, 0.9);
      color: $grey-very-light;
      display: inline-block;
      font-family: $font__standout;
      margin: 4vh 0 80vh;
      padding: 10px 15px;
    }
  }

  &__strapline {
    background-color: rgba($grey-mid, 0.9);
    color: $grey-very-light;
    display: inline-block;
    float: right;
    padding: 8px 12px;
  }
}
