.image-fixed {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 15px 0 $black;
  height: 100vh;

  &__heading {
    &-wrapper {
      background-color: rgba($grey-mid, 0.9);
      color: $grey-very-light;
      display: inline-block;
      font-family: $font__standout;
      font-size: 20px;
      @media (min-width: 640px) {
        font-size: 22px;
      }
      @media (min-width: 1024px) {
        font-size: 24px;
      }
      margin: 4vh 0 80vh;
      padding: 10px 15px;
    }
  }

  &__strapline {
    background-color: rgba($grey-mid, 0.9);
    color: $grey-very-light;
    display: inline-block;
    float: right;
    padding: 8px 12px;
  }
}
