$cta__background: $orange-dark--less-intense;
$cta__contrast: $grey-very-light;

.call-to-action {
  @include base-padding();
  text-align: center;

  &__background {
    &:after {
      background-color: $grey-very-light;
      content: '';
      height: 100%;
      width: 100%;
    }
  }

  &__button {
    background-color: rgba($cta__contrast, 0.2);
    border: 1px solid $cta__contrast;
    color: $cta__contrast;
    font-family: $font__standout;
    font-size: 24px;
    padding: 0 34px;
    text-transform: uppercase;

    &:hover {
      background-color: $cta__contrast;
      box-shadow: 0 0 5px 0 $cta__contrast;
      color: $cta__background;
    }
  }
  &__heading {
    color: $cta__contrast;
    font-size: 30px;
    font-family: $font__standout;
    margin-bottom: $general-padding__strapline_spacing;
  }
}
