$grey-very-light: #fafafa;
$grey-mid: #595959;
$blue-light: #6CE2FD;
$blue-light: #5AD0eb;
$blue-dark: #48BED9;
$green-light: #6BA766;
$green-dark: #3B7736;
$orange-light: #FD906C;
$orange-dark: #D96C48;
$black: #050505;

$cta-dark: $orange-dark;
$cta-light: $orange-light;
