$grey-very-light: #fafafa;
$grey-mid: #595959;
$black: #050505;
$blue-light: #6CE2FD;

$blue-dark: #2677bb;
$blue-light: lighten($blue-dark, 20);

$green-light: #5B9756;
$green-dark: #3B7736;

$orange-light: #f67944;
$orange-dark: darken($orange-light, 10);
$orange-dark--less-intense: #FF9470;

$red: #ff3050;

$cta-dark: $orange-dark;
$cta-light: $orange-light;
