$font__standout: 'Khand', sans-serif;

@mixin text-light() {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin text-heavy() {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

& *::selection {
  background: $grey-mid;
  color: $grey-very-light;
}

p {
  color: $grey-mid;
  font-size: 16px;
  @media (min-width: 640px) {
    font-size: 18px;
  }
  line-height: 1.55em;
  margin: 0 0 1.55em 0;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.text {
  margin: 0 auto;
  max-width: 800px;

  a {
    color: $black;
    font-weight: bold;
    text-decoration: none;
    text-transform: lowercase;
    transition: all 0.1s;
    &:hover {
      color: $blue-dark;
      text-decoration: underline;
    }
  }

  h1 {
    font-family: $font__standout;
    font-size: 30px;
    margin-bottom: $general-padding__strapline-spacing;
  }

  h2 {
    font-family: $font__standout;
    font-size: 24px;
    margin-bottom: $general-padding__strapline-spacing;
  }
}
