$font__standout: 'Khand', sans-serif;

@mixin text-light() {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin text-heavy() {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

p {
  color: $grey-mid;
  font-size: 18px;
  line-height: 1.55em;
  margin: 0 0 1.55em 0;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.text {
  margin: 0 auto;
  max-width: 800px;
}
