* {
  box-sizing: border-box;
  &:focus {
    outline: 2px solid $black;
  }
}

body {
  @include text-light();
  margin: 0;
}

h1, h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
