.content-is-centred {
  padding-left: 3.125%;
  padding-right: 3.125%;
  width: 100%;
  @media (min-width: 1200px) {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    width: 1280px;
  }
}

.background {
  background-image: url('/assets/img/noise.png');
  left: 0;
  right: 0;

  &--black {
    background-color: $black;
  }

  &--blacker {
    background-color: #000;
  }

  &--blue {
    background-color: $blue-light;
    &-dark {
      background-color: $blue-dark;
    }
  }

  &--grey-very-light {
    background-color: #fafafa;
  }

  &--orange {
    background-color: $orange-light;
    &-dark {
      background-color: $orange-dark;
    }
  }
}
