.content-is-centred {
  padding-left: 3.125%;
  padding-right: 3.125%;
  width: 100%;
  @media (min-width: 1280px) {
    margin: 0 auto;
    width: 1280px;
  }
}

.background {
  left: 0;
  right: 0;

  &--blue {
    background-color: $blue-light;
    &-dark {
      background-color: $blue-dark;
    }
  }

  &--grey-very-light {
    background-color: #f7f7f7;
  }

  &--orange {
    background-color: $orange-light;
    &-dark {
      background-color: $orange-dark;
    }
  }
}
