$general-padding__top: 50px;
$general-padding__bottom: 72px;
$general-padding__strapline-spacing: 24px;

@mixin base-padding() {
  padding-bottom: $general-padding__bottom;
  padding-top: $general-padding__top;
}
