$project-summary__coloumn-breakpoint: 480px;

.project-summary {
  margin-bottom: 3.125%;
  &:last-of-type {
    margin-bottom: 0;
  }
  padding: 3.125%;
  position: relative;
  width: 100%;

  &__aside {
    text-align: center;
    width: 100%;
    @media (min-width: $project-summary__coloumn-breakpoint) {
      width: 33.333% - 1.1111%;
    }
  }

  &__button {
    color: $grey-very-light;
    margin-top: 3.125%;
    @media (min-width: $project-summary__coloumn-breakpoint) {
      margin-top: 3.125% * 3;
    }
    padding: 0 20px;
    position: relative;
    transition: all 0.4s;
  }

  &__details {
    margin-bottom: 30px;
    p {
      display: none;
      &:first-child {
        display: block;
        margin-bottom: 0;
      }
    }
  }

  &__heading {
    font-family: $font__standout;
    font-size: 24px;
    margin-bottom: 1em;
  }

  &__image {
    position: relative;
    transition: all 0.4s;
    width: 100%;
  }

  &__text {
    @media (min-width: $project-summary__coloumn-breakpoint) {
      width: 66.666% - 2.2222%;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &--documentary,
  &--photography,
  &--video {
    @include clearfix();
    &:nth-of-type(1),
    &:nth-of-type(3) {
      .project-summary__aside {
        float: right;
      }
      .project-summary__text {
        float: left;
      }
    }
    &:nth-of-type(2) {
      background-color: lighten($grey-mid, 55);
      border: 1px solid lighten($grey-mid, 52);
      .project-summary__text {
        @media (min-width: $project-summary__coloumn-breakpoint) {
          float: right;
        }
      }
    }
  }

  &--documentary {
    .project-summary__button {
      background-color: $blue-dark;
      &:hover {
        background-color: $blue-light;
      }
    }
    .project-summary__text {
      a {
        color: $blue-dark;
      }
    }
    &:nth-of-type(1) {
      background-color: lighten($blue-light, 31);
      border: 1px solid lighten($blue-light, 29);
    }
    &:nth-of-type(3) {
      background-color: lighten($blue-dark, 49);
      border: 1px solid lighten($blue-dark, 46);
    }
  }

  &--photography {
    .project-summary__button {
      background-color: $purple-dark;
      &:hover {
        background-color: $purple-light;
      }
    }
    .project-summary__text {
      a {
        color: $purple-dark;
      }
    }
    &:nth-of-type(1) {
      background-color: lighten($purple-light, 31);
      border: 1px solid lighten($purple-light, 29);
    }
    &:nth-of-type(3) {
      background-color: lighten($purple-dark, 49);
      border: 1px solid lighten($purple-dark, 46);
    }
  }

  &--video {
    .project-summary__button {
      background-color: $green-dark;
      &:hover {
        background-color: $green-light;
      }
    }
    .project-summary__text {
      a {
        color: $green-dark;
      }
    }
    &:nth-of-type(1) {
      background-color: lighten($green-light, 31);
      border: 1px solid lighten($green-light, 29);
    }
    &:nth-of-type(3) {
      background-color: lighten($green-dark, 49);
      border: 1px solid lighten($green-dark, 46);
    }
  }
}

.animtrig-project-image-pos-1,
.animtrig-project-image-pos-2,
.animtrig-project-image-pos-3,
.animtrig-project-button-pos-1,
.animtrig-project-button-pos-2,
.animtrig-project-button-pos-3 {
  opacity: 0;
}

.project-image-pos-1--animate,
.project-image-pos-2--animate,
.project-image-pos-3--animate,
.project-button-pos-1--animate,
.project-button-pos-2--animate,
.project-button-pos-3--animate {
  opacity: 1;
}
